site_name: EmbodiedRL
site_description: EmbodiedRL is a ..
site_url: https://github.com/allenai/embodied-rl

theme:
  name: material
  palette:
    primary: blue
    accent: grey
  logo: img/PriorLogo_CircleOnly.svg
  favicon: img/PriorLogo_CircleOnly.svg
  highlightjs: true
  hljs_languages:
  - python
  - typescript
  - json


repo_name: allenai/embodied-rl
repo_url: https://github.com/allenai/embodied-rl
edit_uri: edit/master/docs/

nav:
- EmbodiedRL: README.md
- Running your first experiment: overview/running-your-first-experiment.md
- Primary abstractions: overview/abstractions.md
- Defining a new experiment: overview/experiment.md
- Changing rewards and losses: overview/changing-rewards-and-losses.md
- Defining a new model: overview/defining-a-new-model.md
- Defining a new task: overview/defining-a-new-task.md
- FAQ: overview/FAQ.md
- Roadmap: ROADMAP.md
- Contributing: CONTRIBUTING.md
- Licence: LICENSE.md
- API:
  - models:
    - object_nav_models: api/models/object_nav_models.md
    - basic_models: api/models/basic_models.md
  - onpolicy_sync:
    - losses:
      - imitation: api/onpolicy_sync/losses/imitation.md
      - abstract_loss: api/onpolicy_sync/losses/abstract_loss.md
      - ppo: api/onpolicy_sync/losses/ppo.md
      - kfac: api/onpolicy_sync/losses/kfac.md
      - a2cacktr: api/onpolicy_sync/losses/a2cacktr.md
    - policy: api/onpolicy_sync/policy.md
    - engine: api/onpolicy_sync/engine.md
    - vector_sampled_tasks: api/onpolicy_sync/vector_sampled_tasks.md
    - storage: api/onpolicy_sync/storage.md
  - rl_ai2thor:
    - ai2thor_environment: api/rl_ai2thor/ai2thor_environment.md
    - ai2thor_tasks: api/rl_ai2thor/ai2thor_tasks.md
    - ithor_constants: api/rl_ai2thor/ithor_constants.md
    - object_nav:
      - tasks: api/rl_ai2thor/object_nav/tasks.md
      - task_samplers: api/rl_ai2thor/object_nav/task_samplers.md
    - ai2thor_sensors: api/rl_ai2thor/ai2thor_sensors.md
    - ai2thor_util: api/rl_ai2thor/ai2thor_util.md
  - rl_base:
    - experiment_config: api/rl_base/experiment_config.md
    - task: api/rl_base/task.md
    - sensor: api/rl_base/sensor.md
    - preprocessor: api/rl_base/preprocessor.md
    - distributions: api/rl_base/distributions.md
    - common: api/rl_base/common.md
  - utils:
    - model_utils: api/utils/model_utils.md
    - experiment_utils: api/utils/experiment_utils.md
    - tensor_utils: api/utils/tensor_utils.md
markdown_extensions:
- toc:
    permalink: '#'
- markdown.extensions.codehilite:
    guess_lang: true
- admonition
- codehilite
- extra
