site_name: AllenAct
site_description: A framework for Embodied AI research
site_url: https://github.com/allenai/allenact

theme:
  name: material
  palette:
    primary: blue
    accent: grey
  logo: img/AI2_Avatar_White.png
  favicon: img/AllenAct_A.svg
  highlightjs: true
  hljs_languages:
  - python
  - typescript
  - json


repo_name: allenai/allenact
repo_url: https://github.com/allenai/allenact
edit_uri: edit/master/docs/
docs_dir: docs

nav:
- Overview: index.md
- Installation:
  - Install AllenAct: installation/installation-allenact.md
  - Install environments: installation/installation-framework.md
- Getting started:
  - Run your first experiment: getting_started/running-your-first-experiment.md
  - Structure of the codebase: getting_started/structure.md
  - Primary abstractions: getting_started/abstractions.md
- Tutorials:
  - AllenAct Tutorials: tutorials/index.md
  - Navigation in Minigrid: tutorials/minigrid-tutorial.md
  - PointNav in RoboTHOR: tutorials/training-a-pointnav-model.md
  - Swapping environments: tutorials/transfering-to-a-different-environment-framework.md
  - Using a pre-trained model: tutorials/running_inference_on_a_pretrained_model.md
  - IL to RL with pipelines: tutorials/training-pipelines.md
- HowTos:
  - Define an experiment: howtos/defining-an-experiment.md
  - Change rewards and losses: howtos/changing-rewards-and-losses.md
  - Define a new model: howtos/defining-a-new-model.md
  - Define a new task: howtos/defining-a-new-task.md
  - Define a new training pipeline: howtos/defining-a-new-training-pipeline.md
  - Visualize results: howtos/visualizing-results.md
  - Run a multi-agent experiment: howtos/running-a-multi-agent-experiment.md
- Projects:
  - BabyAI baselines: projects/babyai_baselines/README.md
  - PointNav baselines: projects/pointnav_baselines/README.md
  - ObjectNav baselines: projects/objectnav_baselines/README.md
  - Advisor code: projects/advisor_2020/README.md
  - Two Body Problem code: projects/two_body_problem_2019/README.md
- FAQ: FAQ.md
- Contributing: CONTRIBUTING.md
- Licence: LICENSE.md
- API:
  - constants: api/constants.md
  - core:
    - base_abstractions:
      - experiment_config: api/core/base_abstractions/experiment_config.md
      - misc: api/core/base_abstractions/misc.md
      - task: api/core/base_abstractions/task.md
      - sensor: api/core/base_abstractions/sensor.md
      - preprocessor: api/core/base_abstractions/preprocessor.md
      - distributions: api/core/base_abstractions/distributions.md
    - algorithms:
      - onpolicy_sync:
        - losses:
          - imitation: api/core/algorithms/onpolicy_sync/losses/imitation.md
          - abstract_loss: api/core/algorithms/onpolicy_sync/losses/abstract_loss.md
          - ppo: api/core/algorithms/onpolicy_sync/losses/ppo.md
          - kfac: api/core/algorithms/onpolicy_sync/losses/kfac.md
          - a2cacktr: api/core/algorithms/onpolicy_sync/losses/a2cacktr.md
        - runner: api/core/algorithms/onpolicy_sync/runner.md
        - policy: api/core/algorithms/onpolicy_sync/policy.md
        - engine: api/core/algorithms/onpolicy_sync/engine.md
        - vector_sampled_tasks: api/core/algorithms/onpolicy_sync/vector_sampled_tasks.md
        - storage: api/core/algorithms/onpolicy_sync/storage.md
      - offpolicy_sync:
        - losses:
          - abstract_offpolicy_loss: api/core/algorithms/offpolicy_sync/losses/abstract_offpolicy_loss.md
    - models:
      - basic_models: api/core/models/basic_models.md
  - plugins:
    - habitat_plugin:
      - habitat_constants: api/plugins/habitat_plugin/habitat_constants.md
      - habitat_tasks: api/plugins/habitat_plugin/habitat_tasks.md
      - habitat_sensors: api/plugins/habitat_plugin/habitat_sensors.md
      - habitat_environment: api/plugins/habitat_plugin/habitat_environment.md
      - habitat_preprocessors: api/plugins/habitat_plugin/habitat_preprocessors.md
      - habitat_task_samplers: api/plugins/habitat_plugin/habitat_task_samplers.md
      - scripts:
        - agent_demo: api/plugins/habitat_plugin/scripts/agent_demo.md
        - make_map: api/plugins/habitat_plugin/scripts/make_map.md
      - habitat_utils: api/plugins/habitat_plugin/habitat_utils.md
    - lighthouse_plugin:
      - lighthouse_models: api/plugins/lighthouse_plugin/lighthouse_models.md
      - lighthouse_environment: api/plugins/lighthouse_plugin/lighthouse_environment.md
      - lighthouse_tasks: api/plugins/lighthouse_plugin/lighthouse_tasks.md
      - lighthouse_sensors: api/plugins/lighthouse_plugin/lighthouse_sensors.md
      - lighthouse_util: api/plugins/lighthouse_plugin/lighthouse_util.md
    - babyai_plugin:
      - babyai_constants: api/plugins/babyai_plugin/babyai_constants.md
      - babyai_models: api/plugins/babyai_plugin/babyai_models.md
      - scripts:
        - truncate_expert_demos: api/plugins/babyai_plugin/scripts/truncate_expert_demos.md
        - get_instr_length_percentiles: api/plugins/babyai_plugin/scripts/get_instr_length_percentiles.md
        - download_babyai_expert_demos: api/plugins/babyai_plugin/scripts/download_babyai_expert_demos.md
      - babyai_tasks: api/plugins/babyai_plugin/babyai_tasks.md
    - ithor_plugin:
      - ithor_tasks: api/plugins/ithor_plugin/ithor_tasks.md
      - ithor_environment: api/plugins/ithor_plugin/ithor_environment.md
      - ithor_constants: api/plugins/ithor_plugin/ithor_constants.md
      - ithor_util: api/plugins/ithor_plugin/ithor_util.md
      - ithor_sensors: api/plugins/ithor_plugin/ithor_sensors.md
      - ithor_task_samplers: api/plugins/ithor_plugin/ithor_task_samplers.md
    - robothor_plugin:
      - robothor_preprocessors: api/plugins/robothor_plugin/robothor_preprocessors.md
      - robothor_task_samplers: api/plugins/robothor_plugin/robothor_task_samplers.md
      - robothor_environment: api/plugins/robothor_plugin/robothor_environment.md
      - robothor_constants: api/plugins/robothor_plugin/robothor_constants.md
      - robothor_models: api/plugins/robothor_plugin/robothor_models.md
      - robothor_tasks: api/plugins/robothor_plugin/robothor_tasks.md
      - configs:
        - resnet18_objectnav: api/plugins/robothor_plugin/configs/resnet18_objectnav.md
        - simple_pointnav: api/plugins/robothor_plugin/configs/simple_pointnav.md
        - resnet18_pointnav: api/plugins/robothor_plugin/configs/resnet18_pointnav.md
        - pointnav_base: api/plugins/robothor_plugin/configs/pointnav_base.md
        - resnet18_nav_base: api/plugins/robothor_plugin/configs/resnet18_nav_base.md
        - nav_base: api/plugins/robothor_plugin/configs/nav_base.md
        - simple_objectnav: api/plugins/robothor_plugin/configs/simple_objectnav.md
        - objectnav_base: api/plugins/robothor_plugin/configs/objectnav_base.md
      - robothor_sensors: api/plugins/robothor_plugin/robothor_sensors.md
      - robothor_viz: api/plugins/robothor_plugin/robothor_viz.md
    - minigrid_plugin:
      - minigrid_tasks: api/plugins/minigrid_plugin/minigrid_tasks.md
      - minigrid_environments: api/plugins/minigrid_plugin/minigrid_environments.md
      - minigrid_offpolicy: api/plugins/minigrid_plugin/minigrid_offpolicy.md
      - minigrid_sensors: api/plugins/minigrid_plugin/minigrid_sensors.md
      - configs:
        - minigrid_nomemory: api/plugins/minigrid_plugin/configs/minigrid_nomemory.md
      - minigrid_models: api/plugins/minigrid_plugin/minigrid_models.md
  - projects:
    - objectnav_baselines:
      - experiments:
        - robothor:
          - objectnav_robothor_base: api/projects/objectnav_baselines/experiments/robothor/objectnav_robothor_base.md
          - objectnav_robothor_rgb_resnetgru_ddppo: api/projects/objectnav_baselines/experiments/robothor/objectnav_robothor_rgb_resnetgru_ddppo.md
          - objectnav_robothor_rgbd_resnetgru_ddppo: api/projects/objectnav_baselines/experiments/robothor/objectnav_robothor_rgbd_resnetgru_ddppo.md
          - objectnav_robothor_depth_resnetgru_ddppo: api/projects/objectnav_baselines/experiments/robothor/objectnav_robothor_depth_resnetgru_ddppo.md
        - ithor:
          - objectnav_ithor_rgbd_resnetgru_ddppo: api/projects/objectnav_baselines/experiments/ithor/objectnav_ithor_rgbd_resnetgru_ddppo.md
          - objectnav_ithor_depth_resnetgru_ddppo: api/projects/objectnav_baselines/experiments/ithor/objectnav_ithor_depth_resnetgru_ddppo.md
          - objectnav_ithor_rgb_resnetgru_ddppo: api/projects/objectnav_baselines/experiments/ithor/objectnav_ithor_rgb_resnetgru_ddppo.md
          - objectnav_ithor_base: api/projects/objectnav_baselines/experiments/ithor/objectnav_ithor_base.md
        - objectnav_base: api/projects/objectnav_baselines/experiments/objectnav_base.md
      - models:
        - object_nav_models: api/projects/objectnav_baselines/models/object_nav_models.md
    - babyai_baselines:
      - experiments:
        - go_to_local:
          - bc: api/projects/babyai_baselines/experiments/go_to_local/bc.md
          - distributed_bc_offpolicy: api/projects/babyai_baselines/experiments/go_to_local/distributed_bc_offpolicy.md
          - dagger: api/projects/babyai_baselines/experiments/go_to_local/dagger.md
          - bc_offpolicy: api/projects/babyai_baselines/experiments/go_to_local/bc_offpolicy.md
          - bc_teacher_forcing: api/projects/babyai_baselines/experiments/go_to_local/bc_teacher_forcing.md
          - distributed_bc_teacher_forcing: api/projects/babyai_baselines/experiments/go_to_local/distributed_bc_teacher_forcing.md
          - ppo: api/projects/babyai_baselines/experiments/go_to_local/ppo.md
          - a2c: api/projects/babyai_baselines/experiments/go_to_local/a2c.md
          - base: api/projects/babyai_baselines/experiments/go_to_local/base.md
        - go_to_obj:
          - bc: api/projects/babyai_baselines/experiments/go_to_obj/bc.md
          - dagger: api/projects/babyai_baselines/experiments/go_to_obj/dagger.md
          - bc_teacher_forcing: api/projects/babyai_baselines/experiments/go_to_obj/bc_teacher_forcing.md
          - ppo: api/projects/babyai_baselines/experiments/go_to_obj/ppo.md
          - a2c: api/projects/babyai_baselines/experiments/go_to_obj/a2c.md
          - base: api/projects/babyai_baselines/experiments/go_to_obj/base.md
        - base: api/projects/babyai_baselines/experiments/base.md
    - pointnav_baselines:
      - experiments:
        - robothor:
          - pointnav_robothor_rgbd_simpleconvgru_ddppo: api/projects/pointnav_baselines/experiments/robothor/pointnav_robothor_rgbd_simpleconvgru_ddppo.md
          - pointnav_robothor_depth_simpleconvgru_ddppo: api/projects/pointnav_baselines/experiments/robothor/pointnav_robothor_depth_simpleconvgru_ddppo.md
          - pointnav_robothor_rgb_simpleconvgru_ddppo: api/projects/pointnav_baselines/experiments/robothor/pointnav_robothor_rgb_simpleconvgru_ddppo.md
          - pointnav_robothor_base: api/projects/pointnav_baselines/experiments/robothor/pointnav_robothor_base.md
        - habitat:
          - pointnav_habitat_rgb_simpleconvgru_ddppo: api/projects/pointnav_baselines/experiments/habitat/pointnav_habitat_rgb_simpleconvgru_ddppo.md
          - pointnav_habitat_rgbd_simpleconvgru_ddppo: api/projects/pointnav_baselines/experiments/habitat/pointnav_habitat_rgbd_simpleconvgru_ddppo.md
          - pointnav_habitat_base: api/projects/pointnav_baselines/experiments/habitat/pointnav_habitat_base.md
          - pointnav_habitat_depth_simpleconvgru_ddppo: api/projects/pointnav_baselines/experiments/habitat/pointnav_habitat_depth_simpleconvgru_ddppo.md
        - pointnav_base: api/projects/pointnav_baselines/experiments/pointnav_base.md
        - ithor:
          - pointnav_ithor_rgbd_simpleconvgru_ddppo: api/projects/pointnav_baselines/experiments/ithor/pointnav_ithor_rgbd_simpleconvgru_ddppo.md
          - pointnav_ithor_rgb_simpleconvgru_ddppo: api/projects/pointnav_baselines/experiments/ithor/pointnav_ithor_rgb_simpleconvgru_ddppo.md
          - pointnav_ithor_base: api/projects/pointnav_baselines/experiments/ithor/pointnav_ithor_base.md
          - pointnav_ithor_depth_simpleconvgru_ddppo: api/projects/pointnav_baselines/experiments/ithor/pointnav_ithor_depth_simpleconvgru_ddppo.md
      - models:
        - point_nav_models: api/projects/pointnav_baselines/models/point_nav_models.md
    - tutorials:
      - pointnav_habitat_rgb_ddppo: api/projects/tutorials/pointnav_habitat_rgb_ddppo.md
      - pointnav_robothor_rgb_ddppo: api/projects/tutorials/pointnav_robothor_rgb_ddppo.md
      - pointnav_ithor_rgb_ddppo: api/projects/tutorials/pointnav_ithor_rgb_ddppo.md
      - minigrid_tutorial: api/projects/tutorials/minigrid_tutorial.md
  - tests:
    - multiprocessing:
      - test_frozen_attribs: api/tests/multiprocessing/test_frozen_attribs.md
    - sync_algs_cpu:
      - test_to_to_obj_trains: api/tests/sync_algs_cpu/test_to_to_obj_trains.md
  - utils:
    - model_utils: api/utils/model_utils.md
    - experiment_utils: api/utils/experiment_utils.md
    - system: api/utils/system.md
    - cacheless_frcnn: api/utils/cacheless_frcnn.md
    - misc_utils: api/utils/misc_utils.md
    - viz_utils: api/utils/viz_utils.md
    - tensor_utils: api/utils/tensor_utils.md
    - cache_utils: api/utils/cache_utils.md
markdown_extensions:
- toc:
    permalink: '#'
- markdown.extensions.codehilite:
    guess_lang: true
- admonition
- codehilite
- extra

# extra_javascript:
#  - javascripts/extra.js
#plugins:
#  - search
#  - mkpdfs
