[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pipenv-setup = "*"
black = "==19.10b0"
docformatter = "==1.3.1"
docstr-coverage = "*"
setuptools = "==41.0.0"
ruamel-yaml = "*"
mkdocs-material = "==5.5.3"
mypy = "*"
flake8 = "*"
pre-commit = "*"
gitpython = "*"
ipython = "*"
mkdocs = "==1.1.2"
mathy-pydoc = "==0.7.18"
pytest = "*"
coverage = "*"

[packages]
gym = "*"
matplotlib = "*"
torchvision = "~=0.5.0"
tensorflow = "*"
tensorboardx = "*"
torch = "~=1.4.0"
ai2thor = "==2.3.9"
networkx = "*"
Pillow = "==6.2.1"
setuptools = "*"
setproctitle = "*"
moviepy = "*"
filelock = "*"
numpy-quaternion = "*"
pandas = "*"
gym-minigrid = "*"
gin-config = "*"
babyai = {editable = true,git = "https://github.com/unnat/babyai.git",ref = "ff645fe00ea8412a29bd5e2d6f79ae1595d229a7"}
colour = "*"

[requires]
python_version = "3.6"
