[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gym = "*"
matplotlib = "*"
pybullet = "*"
torchvision = "~=0.3"
tensorflow = "*"
tensorboardx = "*"
torch = "~=1.1"

[requires]
python_version = "3.6"
